Prevendo dados diariamente com Machine Learning

In [44]:
import pandas as pd
df = pd.read_csv('GSPC.csv')
df.head()

         Date   Open   High    Low  Close  Adj Close   Volume
0  1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1  1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2  1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3  1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4  1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

In [45]:
df = df.drop('Date', axis=1)

In [46]:
df[-2::]

,Open,High,Low,Close,Adj Close,Volume
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000
17217,2753.250000,2772.389893,2748.459961,2772.350098,2772.350098,3651640000

In [47]:
amanha = df[-1::]
amanha.to_csv('Futuro.csv', index=False)

In [48]:
base = df.drop(df[-1::].index, axis=0)
base.to_csv('Hoje.csv', index=False)

In [ ]:
base['target'] = base['Close'][1:len(base)].reset_index(drop=True)
base.tail()

In [ ]:
prev = base[-1::].drop('target', axis=1)
prev

In [ ]:
treino = base.drop(base[-1::].index, axis=0)
treino.tail()

In [ ]:
treino.loc[treino['target'] > treino['Close'],'target'] = 1
treino.tail()

In [ ]:
treino.loc[treino['target'] != 1 , 'target'] = 0
treino.tail()

In [ ]:
y = treino['target']
x = treino.drop('target', axis=1)

from sklearn.model_selection import train_test_split
x_treino,x_teste,y_treino,y_teste = train_test_split(x,y, test_size=0.3)

from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)
#Imprimir resultado
resultado = modelo.score(x_teste, y_teste)
print("Acur√°cia ", resultado)

In [ ]:
print(resultado)

In [ ]:
prev

In [ ]:
modelo.predict(prev)

In [ ]:
prev['target'] = modelo.predict(prev)
prev

In [ ]:
prev.to_csv('PREV.csv', index=False)

In [ ]:
amanha

In [ ]:
base.tail()

In [ ]:
base = base.append(amanha, sort=True)
base.tail()