In [1]:
import pandas as pd

alunos = {'Nome':['Paulo','Roberto','Ricardo','Saulo'],'Nota':[4,5.5,7,9],'Aprovado':['Não','Não','Sim','Sim']}

alunosDF = pd.DataFrame(alunos)
print(alunosDF)

      Nome  Nota Aprovado
0    Paulo   4.0      Não
1  Roberto   5.5      Não
2  Ricardo   7.0      Sim
3    Saulo   9.0      Sim

In [2]:
alunosDF.head()

      Nome  Nota Aprovado
0    Paulo   4.0      Não
1  Roberto   5.5      Não
2  Ricardo   7.0      Sim
3    Saulo   9.0      Sim

In [3]:
alunosDF.shape

(4, 3)

In [4]:
alunosDF.describe()

           Nota
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000

Filtro por coluna

In [5]:
alunosDF['Nome']

0      Paulo
1    Roberto
2    Ricardo
3      Saulo
Name: Nome, dtype: object

Filtro por linha

In [6]:
alunosDF.loc[0:3]

      Nome  Nota Aprovado
0    Paulo   4.0      Não
1  Roberto   5.5      Não
2  Ricardo   7.0      Sim
3    Saulo   9.0      Sim

Filtrando linhas pela a coluna

In [7]:
alunosDF.loc[alunosDF['Nome']== 'Ricardo']

      Nome  Nota Aprovado
2  Ricardo   7.0      Sim

Manipulando linhas em nosso dataframe

In [8]:
primeiralinhas = alunosDF.loc[0:2]
print(primeiralinhas)

      Nome  Nota Aprovado
0    Paulo   4.0      Não
1  Roberto   5.5      Não
2  Ricardo   7.0      Sim