In [3]:
import pandas as pd
arquivo = pd.read_csv('./wine_dataset.csv')

In [4]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [5]:
arquivo['style'] = arquivo['style'].replace('red',0)
arquivo['style'] = arquivo['style'].replace('white',1)

In [6]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

Separando as variáveis entre preditoras e alvo

In [7]:
y = arquivo['style']
x = arquivo.drop('style', axis=1)

In [ ]:
%pip install scikit-learn

In [9]:
from sklearn.model_selection import train_test_split

Criando o conjunto de dados para treino e teste

In [10]:
x_treino,x_teste,y_treino,y_teste = train_test_split(x,y, test_size=0.3)

In [11]:
from sklearn.ensemble import ExtraTreesClassifier

Criação do modelo

In [12]:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)
#Imprimir resultado
resultado = modelo.score(x_teste, y_teste)
print("Acurácia ", resultado)

Acurácia  0.9953846153846154

In [21]:
y_teste[400:405]

3602    1
3382    1
2410    1
2487    1
5215    1
Name: style, dtype: int64

In [22]:
x_teste[400:405]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
3602,7.4,0.30,0.22,5.25,0.053,33.0,180.0,0.99260,3.13,0.45,11.6,6
3382,8.7,0.45,0.40,1.50,0.067,17.0,100.0,0.99570,3.27,0.57,10.1,6
2410,6.0,0.41,0.05,1.50,0.063,17.0,120.0,0.99320,3.21,0.56,9.2,6
2487,7.3,0.26,0.31,1.60,0.040,39.0,173.0,0.99180,3.19,0.51,11.4,6
5215,7.7,0.32,0.61,11.80,0.041,66.0,188.0,0.99794,3.00,0.54,9.3,5

In [23]:
previsoes = modelo.predict(x_teste[400:405])

In [24]:
previsoes

array([1, 0, 1, 1, 1])